body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* label color */

 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #d50000;
 }

 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #d50000;
   box-shadow: 0 1px 0 0 #d50000;
 }

 /* icon prefix focus color */
 .input-field .prefix.active {
   color: #000;
 }

.clearFilter {
  padding: 0 .5rem;
  margin-left: -.25rem;
}

div.row#filters div.row {
  margin-bottom: 0;
}

div.clearFilterContainer {
  padding-top: 1.25rem !important;
}
