body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* label color */

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #d50000;
}
.input-field input[type=email]:focus + label {
  color: #d50000;
}
.input-field input[type=url]:focus + label {
  color: #d50000;
}
.input-field textarea:focus + label {
  color: #d50000 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #d50000;
  box-shadow: 0 1px 0 0 #d50000;
}
.input-field input[type=email]:focus {
  border-bottom: 1px solid #d50000;
  box-shadow: 0 1px 0 0 #d50000;
}
.input-field input[type=url]:focus {
  border-bottom: 1px solid #d50000;
  box-shadow: 0 1px 0 0 #d50000;
}
.input-field textarea:focus {
  border-bottom: 1px solid #d50000 !important;
  box-shadow: 0 1px 0 0 #d50000 !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}

.clearFilter {
  padding: 0 .5rem;
  margin-left: -.25rem;
}

div.row#filters div.row {
  margin-bottom: 0;
}

div.row#filters .caret {
  background: white;
  z-index: 10;
  padding-left: 5px;
  pointer-events: none;
}

div.clearFilterContainer {
  padding: 1.25rem .25rem 0 0 !important;
  float: right !important;
  margin-right: 0;
}

sup {
  top: -.35em;
}

sup i.material-icons {
  float: none;
  display: inline;
  font-size: 1.25rem;
  line-height: inherit;
}

[type="radio"]:checked+label:after {
    border: 2px solid #B71C1C !important;
    background-color: #B71C1C !important;
}

[type="checkbox"]:checked+label:before {
    border-right: 2px solid #B71C1C !important;
    border-bottom: 2px solid #B71C1C !important;
}
