{% extends 'base.html' %}

{% block title %}funding.cmu.edu | Admin{% endblock %}

{% block main %}
<div class="section">
  <div class="container">
    <h2 class="center amber-text text-darken-3" style="margin-bottom: 2rem;">Administration</h2>

    <h4 class="center amber-text text-darken-3">Sources</h4>
    <h6 class="center amber-text text-darken-3">
      {{ num_sources }} sources currently in database.
      {% if errors %}
      <button class="waves-effect waves-light btn modal-trigger red darken-4" data-target="errorModal">
        {{ errors.split('\n')|length }} Error{% if errors.split('\n')|length > 1 %}s{% endif %}
        <i class="material-icons right">error</i>
      </button>
      {% endif %}
    </h6>


    <div id="errorModal" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4>Source Processing Errors</h4>
        <pre>{{ errors }}</pre>
      </div>
      <div class="modal-footer">
        <a href="#" class="modal-action modal-close waves-effect waves-light waves-red btn-flat">Close</a>
      </div>
    </div>

    <div class="row center section">
      <form method="post" action="/admin/add">
        <div class="input-field col s12 red-text text-darken-4">
          <i class="material-icons prefix">insert_drive_file</i>
          <input placeholder="https://docs.google.com/spreadsheets/d/1njc8zi2gVvmtCzISVtay2pQYzkNij73jbfGwUS8l7A0/pub?gid=0&single=true&output=csv" id="spreadsheet_url" name="spreadsheet_url" type="url" required>
          <label for="spreadsheet_url">Google Spreadsheet CSV URL</label>
        </div>

        <button class="btn waves-effect waves-light red darken-4" type="submit">Update Sources
          <i class="material-icons right">update</i>
        </button>
      </form>
    </div>

    <div class="divider"></div>

    <div class="row center section">
      <div class="col s6">
        <a href="/admin/delete">
          <button class="btn waves-effect waves-light red darken-4">Delete all Sources
            <i class="material-icons right">delete</i>
          </button>
        </a>
      </div>
      <div class="col s6">
        <a class="btn waves-effect waves-light red darken-4" href="/admin/export">Export all Sources
          <i class="material-icons right">file_download</i>
        </a>
      </div>
    </div>

    <div class="divider"></div>

    <div class="row center section">
      <div class="col s12">
        <form method="post" action="/admin/import" enctype="multipart/form-data">
          <div class="file-field input-field">
            <div class="btn red darken-4">
              <span>File</span>
              <input type="file" name="import">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path" type="text" placeholder="Import a previously exported source dump">
            </div>
          </div>

          <button class="btn waves-effect waves-light red darken-4" type="submit">Import Sources
            <i class="material-icons right">import_export</i>
          </button>
        </form>
      </div>
    </div>

    <h4 class="center amber-text text-darken-3">Administrators</h4>
    <h6 class="center amber-text text-darken-3">
      {{ admins|length }} admin{%if admins|length > 1 %}s{% endif %}
    </h6>
    <br>
    <div class="row">
      <div class="col s12 m5 section">
        <div style="padding-bottom: .5rem;">
          <span class="light">You can remove any administrator aside from yourself</span>
        </div>
        {% for admin in admins %}
        <div class="chip">
          <span class="id">{{admin.id}}</span>
          {% if admin.id != user.id %}
            <i class="material-icons deleteAdmin">close</i>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      <div class="col s12 m7">
        <form method="post" action="/admin/add_admins">
          <div class="input-field col s7">
            <select multiple name="admins" id="admins">
              <option value="" disabled selected>Choose user(s)</option>
              {% for user in non_admins|sort(attribute='id') %}
              <option value="{{user.id}}">{{user.id}}</option>
              {% endfor %}
            </select>
            <label for="admins">Add Administrators</label>
          </div>
          <div class="input-field col s5">
            <button type="submit" class="btn btn-sm waves-effect waves-light red darken-4">Add Admin(s)
              <i class="material-icons right">person_add</i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}
