{% extends 'base.html' %}

{% block title %}funding.cmu.edu | Admin{% endblock %}

{% block main %}
<div class="section">
  <div class="container">
    <h2 class="center amber-text text-darken-2" style="margin-bottom: 2rem;">Administration</h2>
    <div class="row center section">
      <form method="post" action="/admin/add">
        <div class="input-field col s12 red-text text-darken-4">
          <i class="material-icons prefix">insert_drive_file</i>
          <input placeholder="https://docs.google.com/spreadsheets/d/1njc8zi2gVvmtCzISVtay2pQYzkNij73jbfGwUS8l7A0/pub?gid=0&single=true&output=csv" id="spreadsheet_url" name="spreadsheet_url" type="url" required>
          <label for="spreadsheet_url">Google Spreadsheet CSV URL</label>
        </div>

        <button class="btn waves-effect waves-light red darken-4" type="submit">Add Sources
          <i class="material-icons right">update</i>
        </button>
      </form>
    </div>

    <div class="divider"></div>

    <div class="row center section">
      <div class="col s6">
        <a href="/admin/delete">
          <button class="btn waves-effect waves-light red darken-4">Delete all Sources
            <i class="material-icons right">delete</i>
          </button>
        </a>
      </div>
      <div class="col s6">
        <a class="btn waves-effect waves-light red darken-4" href="/admin/export">Export all Sources
          <i class="material-icons right">file_download</i>
        </a>
      </div>
    </div>

    <div class="divider"></div>

    <div class="row center section">
      <div class="col s12">
        <form method="post" action="/admin/import" enctype="multipart/form-data">
          <div class="file-field input-field">
            <div class="btn red darken-4">
              <span>File</span>
              <input type="file" name="import">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path" type="text" placeholder="Import a previously exported source dump">
            </div>
          </div>

          <button class="btn waves-effect waves-light red darken-4" type="submit">Import Sources
            <i class="material-icons right">import_export</i>
          </button>
        </form>
      </div>
    </div>

    <h4 class="center amber-text text-darken-2">
      {{ num_sources }} sources currently in database.
    </h4>
  </div>
</div>
{% endblock %}
