<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sushain K. Cherivirala (www.skc.name)">
    <title>{% block title %}{% endblock %}</title>

		<link rel="icon" href="/static/favicon.ico">

    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}" media="screen, projection">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" media="screen, projection">
  </head>

  <body>
    <nav class="red darken-4" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">funding.cmu.edu</a>
        <ul class="right hide-on-med-and-down">
          {% if user and user.admin %}<li><a href="/admin">Admin</a></li>{% endif %}
          {% if user %}<li><a href="/logout">Logout</a></li>{% endif %}
          <a class="tooltipped" data-position="left" data-delay="50" data-tooltip="Licensed by Sushain Cherivirala under the GPLv2.">
            {{ version }}
          </a>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          {% if user and user.admin %}<li><a href="/admin">Admin</a></li>{% endif %}
          {% if user %}<li><a href="/logout">Logout</a></li>{% endif %}
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>

    <main>
      {% block main %}{% endblock %}
    </main>

    <footer class="page-footer red darken-2">
      <div class="footer-copyright">
        <div class="container">
        Managed by the
        <a class="amber-text text-darken-2" href="http://www.cmu.edu/stugov/senate/" target="_blank">
          Carnegie Mellon University Senate
        </a>, Finance Committee
        <a class="grey-text text-lighten-4 right" href="https://github.com/sushain97/funding.cmu.edu" target="_blank">
          <i class="material-icons tiny" style="top: 2.5px; position: relative;">code</i> GitHub
        </a>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.2.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <script type="text/javascript">
          {% for message in messages %}
            Materialize.toast('{{ message }}', 5000);
          {% endfor %}
        </script>
      {% endif %}
    {% endwith %}
    {% block js %}{% endblock %}
  </body>
</html>
