{% extends 'base.html' %}

{% block title %}funding.cmu.edu | Browse{% endblock %}

{% block main %}
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s9">
        <h3 class="amber-text text-darken-3 center" style="margin-bottom: 1rem;">Funding Sources</h3>
      </div>
      <div class="input-field col s3">
        <i class="material-icons prefix">search</i>
        <input id="searchText" type="text" name="q" {% if q %} value="{{q}}" {% endif %} data-params="{{params}}">
        <label for="searchText">Search</label>
      </div>
    </div>

    <div class="row" id="filters">
      <div class="col m3">
        <div class="card-panel large" style="margin-top: .25rem;">
          <form>
            <div class="row">
              <div class="input-field col m12">
                <select name="sort_order">
                  {% for sort_option in sort_options %}
                  <option value="{{sort_option[0]}}" {% if sort_option[0] == selected_sort_order %} selected {% endif %}>{{sort_option[1]}}</option>
                  {% endfor %}
                </select>
                <label for="sort_order">Sort by</label>
              </div>
            </div>

            <div class="row" style="padding-bottom: .5rem; padding-right: 1.5rem; padding-left: 1.5rem;"><hr></div>

            <input type="hidden" name="page_size" value="{{page_size}}">
            <input type="hidden" name="years_cleared" {% if years_cleared %} value="1" {% endif %}>
            <input type="hidden" name="schools_cleared" {% if schools_cleared %} value="1" {% endif %}>
            {% if q %}<input type="hidden" name="q" value="{{q}}">{% endif %}

            <div class="row">
              <div class="input-field col m9">
                <select name="sex">
                  <option value="9" {% if selected_sex == 9 %} selected {% endif %}>Any</option>
                  <option value="1" {% if selected_sex == 1 %} selected {% endif %}>Male</option>
                  <option value="2" {% if selected_sex == 2 %} selected {% endif %}>Female</option>
                </select>
                <label for="sex">Sex</label>
              </div>
              <div class="col m2 clearFilterContainer">
                <a class="waves-effect waves-light btn red darken-4 clearFilter">
                  <i class="material-icons">clear</i>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="input-field col m9">
                <select name="categories" multiple>
                  <option value="" disabled selected>Any</option>
                  {% for category in categories %}
                  <option value="{{category.id}}" {% if category.id in selected_categories %} selected {% endif %}>{{category.name}}</option>
                  {% endfor %}
                </select>
                <label for="categories">Categories</label>
              </div>
              <div class="col m2 clearFilterContainer">
                <a class="waves-effect waves-light btn red darken-4 clearFilter">
                  <i class="material-icons">clear</i>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="input-field col m9">
                <select name="schools" multiple>
                  <option value="" disabled selected>Any</option>
                  {% for school in schools %}
                  <option value="{{school.id}}" {% if school.id in selected_schools %} selected {% endif %}>{{school.name}}</option>
                  {% endfor %}
                </select>
                <label for="schools">Schools</label>
              </div>
              <div class="col m2 clearFilterContainer">
                <a class="waves-effect waves-light btn red darken-4 clearFilter">
                  <i class="material-icons">clear</i>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="input-field col m9">
                <select name="years" multiple>
                  <option value="" disabled selected>Any</option>
                  {% for year in years %}
                  <option value="{{year.id}}" {% if year.id in selected_years %} selected {% endif %}>{{year.name.title()}}</option>
                  {% endfor %}
                </select>
                <label for="years">Years</label>
              </div>
              <div class="col m2 clearFilterContainer">
                <a class="waves-effect waves-light btn red darken-4 clearFilter">
                  <i class="material-icons">clear</i>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="input-field col m12" style="margin-top: -.5rem; margin-bottom: 1rem;">
                <input type="checkbox" id="citizen" name="citizen" {% if selected_citizen %} checked {% endif %}>
                <label for="citizen">U.S. Citizen</label>
              </div>
            </div>

            <div class="row section">
              <div class="col m12 center">
                <button type="submit" class="btn waves-effect waves-light red darken-4">Filter
                  <i class="material-icons right">filter_list</i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col m9">
        <ul class="collapsible popout" data-collapsible="accordion">
          {% for source in sources %}
          <li>
            <div class="collapsible-header" style="overflow-x: hidden;">
              <i class="material-icons red-text text-darken-4">
                {% if source.independent %} person {% else %} people {% endif %}
              </i>
              {{source.name}}

              <div class="right">
                {% for category in source.categories|sort(attribute='name') %}
                  <a class="waves-effect waves-red btn-flat amber-text text-darken-3" href="/browse?categories={{category.id}}&page_size={{page_size}}" style="padding: 0 1rem;">
                    {{category.name}}
                  </a>
                {% endfor %}
              </div>
            </div>
            <div class="collapsible-body">
              <div style="margin: 0; padding: 2rem;">
                <h4 style="margin-top: 0;">
                  {{source.name}}
                  {% if source.link %}
                    <a href="{{source.link}}" target="_blank"><i class="material-icons red-text text-darken-4">link</i></a>
                  {% endif %}
                </h4>
                <h5>{{source.sponsor.name}}</h5>
                <div class="divider"></div>
                <div class="section">
                  Due {{source.deadline.strftime('%B %d, %Y')}} <br>
                  {{source.grant_size}}
                  <br><br>
                  <div class="row">
                    <div class="col s4">
                      <h6><strong>Application</strong></h6> {{source.application}}
                    </div>
                    <div class="col s4">
                      <h6><strong>Policies</strong></h6> {{source.policies}}
                    </div>
                    <div class="col s4">
                      {% if source.other_info %}
                        <h6><strong>Other Information</strong></h6> {{source.other_info}}
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="section">
                  <h6><strong>Eligibility</strong></h6>
                  {{source.eligibility}} <br><br>

                  {% if source.sex == 0 %} Male <br> {% elif source.sex == 1 %} Female <br> {% endif %}
                  {% if source.citizen %} U.S. Citizen {% endif %}

                  {% for school in source.schools %} {{school.name}}{% if not loop.last %}, {% endif %} {% endfor %} <br><br>
                  {% for year in source.years %} {{year.name.title()}}{% if not loop.last %}, {% endif %} {% endfor %}
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row" style="margin-bottom: 0;">
      <div class="left">
        <ul class="pagination center">
          <li {% if page == 0 %} class="disabled" {% else %} class="waves-effect" {% endif %}>
            <a href="/browse/{{page - 1}}?page_size={{page_size}}&{{params}}">
              <i class="material-icons">chevron_left</i>
            </a>
          </li>
          {% for num_page in range(num_pages) %}
          <li class="{% if num_page == page %} active red darken-4 {% else %} waves-effect {% endif %}">
            <a href="/browse/{{num_page}}?page_size={{page_size}}&{{params}}">{{num_page + 1}}</a>
          </li>
          {% endfor %}
          <li {% if page == num_pages - 1 %} class="disabled" {% else %} class="waves-effect" {% endif %}>
            <a href="/browse/{{page + 1}}?page_size={{page_size}}&{{params}}">
              <i class="material-icons">chevron_right</i>
            </a>
          </li>
          <span class="light">{{count}} results</span>
        </ul>
      </div>
      <div class="input-field right amber-text text-darken-3">
        <select id="pageSizeSelector" name="page_size" data-params="{{params}}">
          <option value="10" {% if page_size == 10 %} selected {% endif %}>10</option>
          <option value="15" {% if page_size == 15 %} selected {% endif %}>15</option>
          <option value="25" {% if page_size == 25 %} selected {% endif %}>25</option>
          <option value="50" {% if page_size == 50 %} selected {% endif %}>50</option>
        </select>
        <label>Page Size</label>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/browse.js') }}"></script>
{% endblock %}
