{% extends 'base.html' %}

{% block title %}funding.cmu.edu | Browse{% endblock %}

{% block main %}
<div class="section no-pad-bot">
  <div class="container">
    <div class="row">
      <div class="col s9">
        <h3 class="amber-text text-darken-2 center" style="margin-bottom: 2rem;">Funding Sources</h3>
      </div>
      <div class="input-field col s3">
        <i class="material-icons prefix">search</i>
        <input id="searchText" type="text" name="q" {% if q %} value="{{q}}" {% endif %} data-params="{{params}}">
        <label for="searchText">Search</label>
      </div>
    </div>

    <div class="row">
      <ul class="collapsible popout" data-collapsible="accordion">
        {% for source in sources %}
        <li>
          <div class="collapsible-header">
            <i class="material-icons red-text text-darken-4">
              {% if source.independent %} person {% else %} people {% endif %}
            </i>
            {{source.name}}

            <div class="right">
              {% for category in source.categories %}
                <a class="waves-effect waves-red btn-flat amber-text text-darken-2" href="/browse?category={{category.id}}&page_size={{page_size}}">
                  {{category.name}}
                </a>
              {% endfor %}
            </div>
          </div>
          <div class="collapsible-body">
            <div style="margin: 0; padding: 2rem;">
              <h4 style="margin-top: 0;">
                {{source.name}}
                {% if source.link %}
                  <a href="{{source.link}}" target="_blank"><i class="material-icons red-text text-darken-4">link</i></a>
                {% endif %}
              </h4>
              <h5>{{source.sponsor.name}}</h5>
              <div class="divider"></div>
              <div class="section">
                Due {{source.deadline.strftime('%B %d, %Y')}} <br>
                {{source.grant_size}}
                <br><br>
                <div class="row">
                  <div class="col s4">
                    <h6><strong>Application</strong></h6> {{source.application}}
                  </div>
                  <div class="col s4">
                    <h6><strong>Policies</strong></h6> {{source.policies}}
                  </div>
                  <div class="col s4">
                    {% if source.other_info %}
                      <h6><strong>Other Information</strong></h6> {{source.other_info}}
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="divider"></div>
              <div class="section">
                <h6><strong>Eligibility</strong></h6>
                {{source.eligibility}} <br><br>

                {% if source.sex == 0 %} Male <br> {% elif source.sex == 1 %} Female <br> {% endif %}
                {% if source.citizen %} U.S. Citizen {% endif %}

                {% for school in source.schools %} {{school.name}}{% if not loop.last %}, {% endif %} {% endfor %} <br><br>
                {% for year in source.years %} {{year.name.title()}}{% if not loop.last %}, {% endif %} {% endfor %}
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="row">
      <div class="left">
        <ul class="pagination center">
          <li {% if page == 0 %} class="disabled" {% else %} class="waves-effect" {% endif %}>
            <a href="/browse/{{page - 1}}?page_size={{page_size}}&{{params}}">
              <i class="material-icons">chevron_left</i>
            </a>
          </li>
          {% for num_page in range(num_pages) %}
          <li class="{% if num_page == page %} active red darken-4 {% else %} waves-effect {% endif %}">
            <a href="/browse/{{num_page}}?page_size={{page_size}}&{{params}}">{{num_page + 1}}</a>
          </li>
          {% endfor %}
          <li {% if page == num_pages - 1 %} class="disabled" {% else %} class="waves-effect" {% endif %}>
            <a href="/browse/{{page + 1}}?page_size={{page_size}}&{{params}}">
              <i class="material-icons">chevron_right</i>
            </a>
          </li>
          <span class="light">{{count}} results</span>
        </ul>
      </div>
      <div class="input-field right amber-text text-darken-2">
        <select id="pageSizeSelector" name="page_size" data-params="{{params}}">
          <option value="10" {% if page_size == 10 %} selected {% endif %}>10</option>
          <option value="15" {% if page_size == 15 %} selected {% endif %}>15</option>
          <option value="25" {% if page_size == 25 %} selected {% endif %}>25</option>
          <option value="50" {% if page_size == 50 %} selected {% endif %}>50</option>
        </select>
        <label>Page Size</label>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/browse.js') }}"></script>
{% endblock %}
