{% extends 'base.html' %}

{% block title %}funding.cmu.edu{% endblock %}

{% block main %}
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h1 class="center amber-text text-darken-2">Starter Template</h1>
    <div class="row center">
      <h5 class="col s12 light">
        An open, easy-to-navigate way for CMU students to discover financial opportunities available to them, from both within and outside of the university
      </h5>
    </div>

  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">

    </div>
  </div>
</div>
{% endblock %}
